<div class="offset-by-three five columns">
	<h2><span class="freal">welcome</span> to become a Scott!</h2>
	<h4>(this is the opportunity of a lifetime)</h4>
	<h5>- I am sure you are thrilled...</h5>
</div>
<div class="five columns">
	<h3>Become a Scott:</h3>
	<hr>
	<div class="description">
		<p>- This is an amazing website where you can become a Scott (that's me)... well, at least partially become a Scott on a database in Virginia leased by Heroku. There are buttons at the top (only two of them) that will get you through the sight. When you are finished, feel free to click the button at the "I'm done being Scott" bottom to stop being Me...</p>
	</div>
</div>