<div class="offset-by-three five columns">
	<h2><span class="freal">welcome</span> to become a Scott!</h2>
	<h4>(this is the opportunity of a lifetime)</h4>
	<h5>- I am sure you are thrilled...</h5>
</div>
<div class="five columns">
	<h3>Become a Scott:</h3>
	<hr>
	<div class="description">
		<p>- This is an amazing website where you can become a Scott... <small>(that's me!)</small></p> 
		<p>Well, you can at least partially become a Scott on a database in Virginia leased by Heroku and resold to me (Scott). <small>(Actually it was free unless there is an overwhelming demand for the service at which point I will have to either pay or revoke the privilege...)</small></p>
		<p> There are buttons at the top <small>(only two of them)</small> that will get you through the sight. When you are finished, feel free to click the "I'm done being Scott" button at bottom of the page to stop being ME, or simply close your browser. You will stop being ME</p>
	</div>
</div>