<h2>Log in as Scott...</h2>
<form action="/login" method="post">
	<div>
		<label for="scott">SCOTT: </label>
		<input type="text" name="scott" value="Scott">
	</div>
	<div>
		<label for="password">PASSWORD:</label>
		<input type="password" name="password">
	</div>
	<input type="submit" value="login (as Scott)">
</form>