<div class="offset-by-four four columns">
	<h2><span class="freal">Log in</span> as Scott...</h2>
	<h4>(You can't wait!)</h4>
</div>
<div class="four columns">
<form action="/login" method="post">
	<div>
		<label for="scott">SCOTT: </label>
		<input type="text" name="scott" value="Scott">
	</div>
	<div>
		<label for="password">PASSWORD:</label>
		<input type="password" name="password">
	</div>
	<input type="submit" value="login (as Scott)">
	<label for="signup">-OR-</label>
	<a href="/signup" class="button">become Scott! (sign up)</a>
</form>
</div>