<div class="offset-by-three five columns">
	<h2>what <span class="freal">eclectic instruments</span> do you own?</h2>
	<h4>(as Scott...)</h4>
</div>
<div class="one columns">&nbsp;&nbsp;</div>
<div class="five columns">

<form action="/scott/new_eclectic_instrument" method="post">
	<div>
		<label for="name">NAME:</label>
		<input type="text" name="ei[name]">
	</div>
	<div>
		<label for="genre">GENRE:</label>
		<select name="ei[genre]" >
			<% @instrument_genres.each do |instrument_genre| %>
				<option value="<%= instrument_genre %>"><%= instrument_genre %></option>
			<% end %>
		</select>
	</div>
	<div>
		<label for="level">PLAYABILITY LEVEL:</label>
		<select name="ei[playability_level]" >
			<% (1..10).each do |i| %>
				<option value="<%= i %>"><%= i %></option>
			<% end %>
		</select>
			
	</div>
	<input type="submit" value="acquire eclectic instrument">
</form>
</div>
