<h2>Become a Scott...</h2>
<form action="/signup" method="post">
	<div>
		<label for="scott[name]">SCOTT: </label>
		<input type="text" name="scott[name]" value="Scott">
	</div>
	<div>
		<label for="password">PASSWORD:</label>
		<input type="password" name="scott[password]">
	</div>
	<div>
		<label for="gender">MALE:</label>
		<input type="radio" name="scott[gender]" value="M">
		<label for="gender">FEMALE:</label>
		<input type="radio" name="scott[gender]" value="F">

	</div>
	<div>
		<label for="type_of_scott">TYPE_OF_SCOTT: </label>
		<input type="text" name="scott[type_of_scott]">
	</div>
		<input type="submit" value="become Scott!">
		<a class="button" href="/login">login (as Scott)</a>
</form>