<div class="offset-by-four four columns">
	<h2><span class="freal">Become</span> a Scott...</h2>
	<h4>(You can't wait!)</h4>
</div>
<div class="four columns">
<form action="/signup" method="post">
	<div>
		<label for="scott[name]">SCOTT: </label>
		<input type="text" name="scott[name]" value="Scott">
	</div>
	<div>
		<label for="password">PASSWORD:</label>
		<input type="password" name="scott[password]">
	</div>
	<div class="add-bottom">
		<label for="gender">MALE:</label>
		<input type="radio" name="scott[gender]" value="M">
		<label for="gender">FEMALE:</label>
		<input type="radio" name="scott[gender]" value="F">

	</div>
	<div>
		<label for="type_of_scott">TYPE_OF_SCOTT: </label>
		<!-- <input type="text" name="scott[type_of_scott]"> -->
		<select name="scott[type_of_scott]" >
			<% @types_of_scott.each do |type_of_scott| %>
				<option value="<%= type_of_scott %>"><%= type_of_scott %></option>
			<% end %>
		</select>
	</div>
		<input type="submit" value="become Scott! (signup)">
		<label for="login">-OR-</label>
		<a class="button" href="/login">login (as Scott)</a>
</form>
</div>